# Copiez ce fichier en .env et remplissez les valeurs
# App
VITE_APP_NAME=
VITE_ENV=
VITE_SHOP_NAME=
VITE_SHOP_DESCRIPTION=
VITE_CATALOG_PAGE_SIZE=
#VITE_ENV=production

# API
VITE_API_URL=/api

# Features flags
VITE_ENABLE_MOCK=false

# Monitoring (optionnel)
#VITE_SENTRY_DSN=