# App
VITE_APP_NAME=
VITE_ENV=development
VITE_SHOP_NAME=
VITE_SHOP_DESCRIPTION=
VITE_CATALOG_PAGE_SIZE=
VITE_ADMIN_CATALOG_PAGE_SIZE=
VITE_NAV_MAX_CATEGORIES=
#VITE_ENV=production

# API
VITE_API_URL=/api

# Features flags
VITE_ENABLE_MOCK=false

# Monitoring (optionnel)
#VITE_SENTRY_DSN=