# Serveur
PORT=3001
NODE_ENV=development
MAINTENANCE_MODE=false

# JWT — REMPLACER par de vraies valeurs aléatoires avant utilisation
# Générer : node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Access token : 30 minutes | Refresh token : 7 jours
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPIRES=7d

# SQLite
DB_PATH=./data/bijoux.db

# Gmail — Mot de passe applicatif (pas ton vrai mdp Google)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173
#GROK_FRONTEND_URL=https://sublanate-doltishly-audria.ngrok-free.dev

# Nom de la société
SHOP_NAME=
SHOP_DESCRIPTION=
